*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    overflow: scroll;
}
.header{
    width: 100%;
    height: 100dvh;
    background: url(Netflix-Background.jpg);
    box-shadow: inset 0px 100vh 10px 10px rgba(0,0,0,0.7); ;
}

/* navbar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
    box-shadow: inset 0px 30px 20px 0px rgba(0,0,0,0.8); 
}
.nav-bar .site-logo img{
    width: 90%;
    height: 60px;

}

.site-button .sign-in{
    box-sizing: border-box;
    border-radius: 4px;
    background-color: red;
    border: none;
    color: white;
    height: 35px;
    width: 80px;
    font-size: 1rem;
}
.site-button select{
    box-sizing: border-box;
    border-radius: 4px;
    background-color: black;
    border-color: white;
    color: white;
    height:35px;
    width: 120px;
    margin-right: 8px;
    opacity: 0.8;
    font-size: 1rem;
    text-align: center;
}
.site-button select option{
    color: white
    font-size: 0.9rem;
}

.heading{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    
}
.heading h1{
    font-size: 3.7rem;
    margin-bottom: 10px;
}
.heading h4{
    font-size: 1 rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.emailbox{
    box-sizing: border-box;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: 100px;
    
}
.Emailaddress{
    height: 90%;
    width: 300px;
    background-color: rgb(16, 16, 16);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 20px;
    font-size: 1rem;
}
.getstart{
     height: 90%;
    width: 150px;
    background-color: red;
    border: none;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 4px;
}
